<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.webpouyaco.bookstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BookDetails" />

        <!--<activity android:name=".SearchActivity">-->
            <!--&lt;!&ndash; ***search codes &ndash;&gt;-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.SEARCH" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->

            <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
                <!--&lt;!&ndash;android:name="android.app.searchable"&ndash;&gt;-->
                <!--&lt;!&ndash;android:resource="@xml/searchable" />&ndash;&gt;-->
            <!--&lt;!&ndash;<meta-data&ndash;&gt;-->
                <!--&lt;!&ndash;android:name="android.app.default_searchable"&ndash;&gt;-->
                <!--&lt;!&ndash;android:resource="@xml/searchable" />&ndash;&gt;-->
        <!--</activity>-->

    </application>

</manifest>